@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Font ---------------------------------------------------------------------  */ 
body{
    font-family: "Roboto", serif;
}
.playwrite{
    font-family: "Playwrite IN", serif !important;
}
/* Loader Animation ---------------------------------------------------------------- */
.loader{
    animation: loader 1.5s ease-in-out 0s infinite forwards;
}
@keyframes loader{
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

/* Light Theme --------------------------------------------------------------------- */
.light-bg{
    background-color: #FFFFFF;
    transition: 0.2s;
}
.light-bg-contrast{
    background-color:  #dedede;
    transition: 0.2s;
}
.light-bg-primary{
    background-color: #6C757D;
    transition: 0.2s;
}
.light-primary{
    color: #007BFF;
    transition: 0.2s;
}
.light-secondary{
    color: #6C757D;
    transition: 0.2s;
}
.light-btn{
    background-color: #FFC107;
    color: #E3F6FC;
    transition: 0.2s;
}
.light-btn:hover{
    background-color: #ff653e;
    transform: scale(1.05);
}
.light-shadow{
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.3);
}
/* Dark Theme --------------------------------------------------------------------- */
.dark-bg{
    background-color: #0A2540;
    transition: 0.2s;
}
.dark-bg-contrast{
    background-color: #081d33;
    transition: 0.2s;
}
.dark-bg-primary{
    background-color: #E8F0FF;
    transition: 0.2s;
}
.dark-primary{
    color: #00E5FF;
    transition: 0.2s;
}
.dark-secondary{
    color: #E8F0FF;
    transition: 0.2s;
}
.dark-btn{
    background-color: #00E5FF;
    color: #0A2540;
    transition: 0.2s;
}
.dark-btn:hover{
    background-color: #00bfd4;
    transform: scale(1.05);
}
.dark-shadow{
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}